.sapMBarTitleAlignAuto .sapMBarPH {
    justify-content: center;
}

.dialogClieSecurClear {
    width: 100%;

    align-items: center;
    justify-content: center;

    margin-top: 2rem;
    margin-block-end: 2rem;
}

.dialogClieSecurClearFlex {
    display: flex;
    flex-direction: row;

    width: 100%;

    align-items: center;
    justify-content: space-between;
}

.marginTop05REM {
    margin-top: 0.5rem;
}

@media (min-width: 80rem){
    .sapUiMedia-Std-Desktop .sapUShellApplicationContainer.sapUShellApplicationContainerLimitedWidth {
        width: 100% !important;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
    }
}

@media(max-width: 500px){
    .dialogClieSecurClear {   
        margin-top: 1rem;
        margin-block-end: 1rem;
    }

    .dialogClieSecurClearFlex {
        flex-direction: column;
        justify-content: center;
    }
}